node_modules
.gauge
.vscode
logs
reports
helix.code-workspace
.DS_Store
DS_Store
**/sitespecific/
**/private_keys.js
playwright-report
**/*.png
package-lock.json
manifest.json
**/appsettings.js
test-results
results.xml
**/newman/*.html
**/test-results
db_backup/qapdb.sql
db_backup/qapdb/
.env
src/automation/elcelerate/results.xml
**/message.json
