/* TODO: Move common styles to a base file */
*
{
  margin:0px;
  padding: 0px;
}

a:link
{
  font-size: 1px;
  visibility: hidden; 
}

input[type=text], select
{
  width: 49.5%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: top;
  -webkit-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
}

label 
{
  width: 49.5%;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}

.tagvalue 
{
  /* width: 100%;
  display: inline-block; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

.urlhalfpage 
{
  width: 35%;
  display: inline-block;
  font-size: 12px !important;
  visibility: visible !important;
  margin-left: 50px;
}

fieldset
{
  border-width:thin;
  padding: 8px;
  margin-top : 5px;
  margin-bottom: 5px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset > legend
{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

div
{
  background-color: #f2f2f2;
}

.button,a[id="cseml"]
{
  background-color:rgb(7,71,166);;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15%;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-overflow: ellipsis;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px; 
  margin-top: 8px;  
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.30);
  background-color: #3a1d8a; /* Dark Blue */
  color: white;
}

.gobutton
{
  background-color:rgb(7,71,166);;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 25%;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-overflow: clip;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px; 
  margin-top: 8px;  
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.gobutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.50),0 17px 50px 0 rgba(0,0,0,0.30);
  background-color: #3a1d8a; /* Dark Blue */
  color: white;
}

.tablink 
{
  background-color:rgb(128, 128, 128);
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 14px;
  width: 33%;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent 
{
  color:grey(0, 0, 0);
  display: none;
  padding: 10px 10px;
  height: 90%;
  -webkit-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
}

#Scope {background-color: rgb(209, 212, 220);}
#Release {background-color: rgb(209, 212, 220);}
#Environment {background-color: rgb(209, 212, 220);}

#name
{
  height:20x;
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgb(7,71,166);
  font-size:small;
  font-style:normal;
  color:white;
  padding: 5px;
  text-align: left;
  display: grid;
    grid-template-columns: 3fr 5.5fr 0.5fr ;
    grid: gap 20rem;
    -webkit-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset -2px -2px 2px 0px rgba(0,0,0,0.5);
}

i
{
    color:#fff;
    background-color:#50b0ff;
    width:20px;
    height: 20px;
    display:inline-block;
    border-radius:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px;
    /* margin-left: 40px; */
    font-weight: bold;
    text-align:center;
    vertical-align:-webkit-baseline-middle;
    display: grid;
    
    grid: gap 20rem;

    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    cursor:help;
    padding-top: 5px;
    margin-left: 950px;
}

#feature > input, #feature> select
{
    width: 33%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: top;
}

#feature > label
{
    width: 33%;
    vertical-align: text-top;
    text-align: left;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 10px;
}

#UnAvailability{
  color: red;
}

#coveragemap{
  font-size: 12px;
  visibility: visible !important;
  text-decoration: none;
  color: rgb(7,71,166);
}
.coveragemap{
background-color: #fff;
margin-left: 10px;
font-size: 12px;
color: red;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.footer {
  height: 1.5rem;
  font-style: italic;
  padding-top: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(7, 71, 166);
  color: white;
  text-align: center;
}
.button.backBtn {
  float: left;
}